table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.central {
    margin:0 25% 0 25%;
    width:50%;
}

.heading {
border: 2px solid black;
text-align: center;
}

.heading2 {
border: 1px solid red;
text-align: center
}

.heading3 {
text-align: center
}