<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div>
        <h1>{{title_info}}</h1>
    </div>
    <table>
        <tr>
            {% for col in df_names %}
                <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in df_data %}
            <tr>
                {% for row_cell in row %}
                    <td>{{row_cell}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>