<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты</title>
</head>
<body>
    <h2>Результаты операции пересечения</h2>
    <table>
        <tr>
                <th>Число</th>
                <th>Пересечение</th>
        </tr>
        {% for row in row_data %}
            <tr>
                {% for col, row_ in zip(column_names, row) %}
                    <td>{{row_}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>