<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="central">
        <form action='{{link}}/get_data' method=get>
            <h2>Столбцы</h2>
            <input type=text size=20 name=columns>
            <h2>Строки</h2>
            <input type=text size=20 name=rows>
            <br>
            <button type=submit>Ввести!</button>
        </form>
    </div>
    <div class="central">
        <form action='{{link}}/filters' method=get>
            <fieldset>
                <legend>Выберите атрибут фильтрации:</legend>
                    <h4>Строки</h4>
                    <input type=text size=20 name=rows>
                    <div class="radio_div">
                        <input type="radio" id="contactChoice1"
                        name="filter" value="city" checked>
                        <label for="contactChoice1">По городам</label>

                        <input type="radio" id="contactChoice2"
                        name="filter" value="state">
                        <label for="contactChoice2">По штатам</label>

                        <input type="radio" id="contactChoice3"
                        name="filter" value="duration">
                        <label for="contactChoice3">По длительности</label>

                        <input type="radio" id="contactChoice4"
                        name="filter" value="difference">
                        <label for="contactChoice4">По публикации</label>
                    </div>
                    <div>
                      <button type="submit">Выбрать!</button>
                    </div>
              </fieldset>
        </form>
    </div>
    <div class="central">
        <form action='{{link}}/visualization' method=get>
            <fieldset>
                <legend>Выберите атрибут визуализации:</legend>
                    <h4>Строки</h4>
                    <input type=text size=20 name=rows>
                    <div class="radio_div">
                        <input type="radio" id="visChoice1"
                        name="filter" value="shape" checked>
                        <label for="visChoice1">По формам</label>

                        <input type="radio" id="visChoice2"
                        name="filter" value="state">
                        <label for="visChoice2">По штатам</label>

                        <input type="radio" id="visChoice3"
                        name="filter" value="duration">
                        <label for="visChoice3">По длительности</label>

                        <input type="radio" id="visChoice4"
                        name="filter" value="difference">
                        <label for="visChoice4">По публикации</label>
                    </div>
                    <div>
                      <button type="submit">Выбрать!</button>
                    </div>
              </fieldset>
        </form>
    </div>
    <div class="central">
        <form action='{{link}}/bloom_filter' method=get>
            <h2>Ключевое слово</h2>
            <input type=text size=20 name=rows>
            <br>
            <button type=submit>Поиск</button>
        </form>
    </div>
</body>
</html>